{% extends "base.html" %}
{% load recommended %}

<style>
#tweet-container {
}
</style>
{%block script%}
<script >
  

$(document).ready(function(){
    loadTweetContainer("tweet-container")
});

</script>
{%endblock script%}

{% block content %}
   
<div class='row' >
  <div class='col-sm-3 col-xs-12'>
    <h2>{{request.user}}</h2>
    <hr/>
    <p class='lead'>Recommended Users</p>
      {% recommended request.user %}

  </div>
    <div class= 'col-sm-9 '>
        {% if  not request.GET.q %}
            <div class='' >
              <!--this attr from view  and form html-->
                {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='tweet' form_class='tweet_form' %}
            </div>
            <hr/>
            
       {%endif%}
       <div id='tweet-container' data-url='/api/tweet/'>
       </div>
       <a href='#' id='loadmore'>load more tweet</a>

    </div>
</div>    
{% endblock content %}  